{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block head %}Registration{% endblock %}

{% block form %}

{% if errorMessage %}
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
{% endif %}

<form method="post" action="register.php" class="justify-content-center">
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" name="email" value="{{ email }}">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="text" class="form-control" name="password" value="{{ password }}">
  </div>
  <div class="form-group">
    <label>Repeat password</label>
    <input type="text" class="form-control" name="password2" value="{{ password2 }}">
  </div>
  <div class="form-group">
    <label>About yourself</label>
    <textarea class="form-control" rows="7" name="about">{{ about }}</textarea>
  </div>
  <div class="form-group">
    <label>Add your photo</label>
    <input type="file" class="form-control-file" name="image">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Done</button>
</form>

{% endblock %}
